
header h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  background-color: #37489e;
  color: #fff;
  text-align: center;
  height: 40px;
  padding-top: 10px;


}

main {
  width: 80%;
  margin: 20px auto;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

section {
  margin-bottom: 20px;
  border: 1px solid #d3cbcb;
  border-radius: 5px;
  padding: 10px;
}

h2 {
  font-size: 25px;
  color: #fff;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

h2:hover {
  background-color: #2980b9;
}

#gastos {
  flex: 1 0 40%;
}

#ventasDia {
  flex: 1 0 40%;
}

#balance {
  flex: 1 0 80%;
}

#gastos form {
  display: flex;
  justify-content: start;
  width: 100%;
  border-radius: 5px;
  margin-left: 0;
}

#gastos form button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#gastos form button:hover {
  background-color: #ddd;
}

#gastos input {
  width: 30vw;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;

}

#gastos input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}




ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

#total p {
  font-weight: 400;
}


section:nth-child(even) {
  background-color: #ffffff;
}

.abrirCaja {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 0 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.abrirCaja:hover {
  background-color: #45a049;
}


.cerrarCaja {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 0 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cerrarCaja:hover {
  background-color: #d32f2f;
  animation: pulse 1s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


#balanceDia {
  text-align: center;
  font-size: 20px;
}

.abrirCaja .cerrarCaja {
  display: block;
  margin: 10px auto;
}