
header h1 {
  margin: 0;
    font-size: 25px;
    font-weight:600;
    background-color: #6c3996;
  color: #fff;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}

main {
  display: flex;
  justify-content:space-evenly;
  margin-top: 100px;
}
.card {
  width: 400px;
  height: 550px;
  background: #F4F6FB;
  border: 1px solid white;
  box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form {
  padding: 25px;
  border-radius: 5px;
}



.card_header h1 {
  display: flex;
  align-items: center;
   width: 94%;
  font-size: 25px;
  color: #fff; 
  background-color: #3498db; 
  padding: 10px 10px; 
  border-radius: 5px; 
  text-align: center; 
  transition: background-color 0.3s ease; 
}

.card_header h1:hover {
  background-color: #2980b9;
}



.card svg {
  margin-right: 10px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 28px;
  color: #411e9a;
}

.field {
  padding-bottom: 10px;
}

.input {
  width: 93%;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.input:focus-visible {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.input::placeholder {
  color: #ccc;
}

label {
  color: #9ea5b1;
  font-size: 20px;
  display: block;
  padding-bottom: 4px;
}



button {
  background-color: #4CAF50;
  margin-top: 10px;
  font-size: 20px;
  width: 98%;
  padding: 15px 35px;
  height: auto;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button2 {
  background-color: #f44336;
  margin-top: 10px;
  font-size: 20px;
  width: 98%;
  padding: 15px 35px;
  height: auto;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button2:hover {
  background-color: #d32f2f;
  
}

.custom-file-input {
  color: transparent;
  cursor: pointer;
}

/* boton y form de centro ayuda agregar al footer*/



@media only screen and (max-width: 950px){
  main {
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 750px) {
  main {
    display: block;
    flex-direction: column;
  }

  .form {
    width: 100%;
   padding: 0;
   padding-left: 6px;
   margin-bottom: 30px;
}
.boton-centro-ayuda  { /* agregar al index footer*/
  margin-bottom: 10px;
}

.social-icons{/* agregar al index footer*/
  margin-bottom: 10px;
}
.footer-seccion-nosotros{/* agregar al index footer*/
   display: none;
}

}


