header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5px;
  background-color: #bd3a3a;
} 
h1 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 0;
} 

.pagina-mesas{
  display: flex;
  overflow: hidden;
}

/*Dibujo de las mesas--------------------*/
.seccion-mesas{
  margin: 0;
  padding: 0;

  width: 50%;

  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;  

  background-color: #e1e4e8;
}

.grid-mesas {
  height: 480px;
  width: 350px;
  
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . Mesa-1 . ."
    "Mesa-2 . . . ."
    "Mesa-2 . Mesa-5 . Mesa-8"
    ". . . . ."
    "Mesa-3 . Mesa-6 . Mesa-9"
    ". . . . ."
    "Mesa-4 . Mesa-7 . Mesa-10"; 
}

/*background-color: #db9834;*/

.mesa{
  display: flex;
  background-color: #2a7bb1;
  color: #f0f0f0;

  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;
  font-size:xx-large;
  font-weight: bold;
}

.abierta{
  background-color:#45a049;
}

.grid-mesas button:hover{
  background-color: #2875a8;
}

.Mesa-2 { 
  grid-area: Mesa-2;
 }

.Mesa-1 { grid-area: Mesa-1; border-radius: 50%;}
.Mesa-3 { grid-area: Mesa-3; }
.Mesa-4 { grid-area: Mesa-4; }
.Mesa-5 { grid-area: Mesa-5; }
.Mesa-6 { grid-area: Mesa-6; }
.Mesa-7 { grid-area: Mesa-7; }
.Mesa-8 { grid-area: Mesa-8; }
.Mesa-9 { grid-area: Mesa-9; }
.Mesa-10 { grid-area: Mesa-10; }


/*Formulario--------------*/

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  /* margin: 20px; 
  padding: 20px; */
}

form{
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px; 
  background-color: #f0f0f0; 
  padding: 15px;
  border: 1px solid #ccc;

  & input,div,table{
    
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;  

  }
}

/*Abrir Mesa----------------------------*/

.abrir-mesa{
  min-height: 50%;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5px;  
}

/*Botones-------------------------------------------------------*/
.form-button{
  display: flex;
  justify-content: space-around;
}

.formateo-boton {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.botonVerde {
  background-color: #4CAF50; 
  color: white;
}

.botonVerde:hover {
  background-color: #45a049; 
}

.botonRojo {
  background-color: #f44336; 
  color: white;
}

.botonRojo:hover {
  background-color: #d32f2f; 
}

/*Tarjetas-----------------------------------*/
.productos-tarjetas{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.tarjeta{
  height: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin: 5px;
  background-color: #D9D9D9;
  border-radius: 10px;

  list-style-type: none;
  transition: transform 0.2s ease;
}
.tarjeta:active {
  transform: scale(0.95);
}
.nombre-producto{
  height: 15%;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.precio-producto{
  height: 15%;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.imagen-tarjeta{
  display: flex;
  align-items: end;
  cursor: pointer;
  max-width: 100%;
  height: 70%;

  border-radius: 10px;
}

.oculto {
  display: none;
}

.visible {
  display: flex; 
}

.abrir{
  background-color: #3498db; 
}

h2{
  background-color: #3498db; 
  color: #fff; 
  margin: 5px;
  font-size: 25px;
  text-align: center;
  padding: 10px 20px; 
  border-radius: 5px; 
  text-align: center; 
}


.venta-mesa{
  min-height: 50%;
  min-width: 80%;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5px;  

}
  


.venta{
  background-color: darkorange;
}

/*Media Querys---------------------------------*/
@media only screen and (max-width: 900px) {
  .pagina-mesas{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 850px) {
  .contenido{
    height: 60vh;
  }

  .listado-mesas{
    gap: 5px;
  }

  .grid-mesas{
    height: 300px;
    width: 250px;
  }
  
}

@media only screen and (max-width: 600px){
  .pagina-mesas{
    overflow: scroll;
  }

  .seccion-mesas{
    height: 50vh;
    width: 100%;
  }
  
  .grid-mesas{
    height: 350px;
    width: 280px;
    padding: 15px;
  }

  .mesa{
    height: 60px;
    width: 60px;
  }

  .Mesa-2{
    height: 86px;
  }

  .formulario{
    height: 50vh;
    width: 100%;
    
  }
  .abrir-mesa{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    margin: 0;
    width: 280px;
    overflow: scroll;
    padding: 5px;

    & input{
      margin: 5px;
    }
  }

  .venta-mesa{
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .tarjeta {
    height: 6rem;
    width: 6rem;
  }
  .nombre-producto{
    height: 10%;
    font-size: 16px;
  }

  .productos-tarjetas{
    align-items: center;
    justify-content: center;
  }

  .formateo-boton{
    padding: 10px 20px;
    margin: 10px 5px;
  }
}