
.pagina-mesas{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Dibujo de las mesas--------------------*/
.seccion-mesas{
  background-color: #e1e4e8;
  margin: 0;
  padding: 0;

  height: 80vh;
  width: 40rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-mesas {
  margin: 20px;
  padding: 20px;
  border: solid #646f77 2px;
  height: 450px;
  width: 350px;
  display: grid; 
  grid-template-columns: 1fr 0.6fr 0.6fr 1fr 2fr 1fr ; 
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . Mesa-1 . . ."
    ". Mesa-2 . . . . ."
    ". Mesa-2 . . . Mesa-8 ."
    ". . . Mesa-5 . . ."
    "Mesa-3 . . . . Mesa-9 ."
    ". . . Mesa-6 . . ."
    "Mesa-4 . . . . Mesa-10 ."
    ". . . Mesa-7 . . ."
    
}

.mesa{
  display: flex;
  background-color: lightblue;
  border: solid #646f77 2px;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;
}

.grid-mesas button:hover{
  background-color: rgb(139, 172, 184);
}

.Mesa-2 { 
  grid-area: Mesa-2;
 }

.Mesa-1 { grid-area: Mesa-1; border-radius: 50%;}
.Mesa-3 { grid-area: Mesa-3; }
.Mesa-4 { grid-area: Mesa-4; }
.Mesa-5 { grid-area: Mesa-5; }
.Mesa-6 { grid-area: Mesa-6; }
.Mesa-7 { grid-area: Mesa-7; }
.Mesa-8 { grid-area: Mesa-8; }
.Mesa-9 { grid-area: Mesa-9; }
.Mesa-10 { grid-area: Mesa-10; }


/*Formulario--------------*/

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 40vw;
  margin: 0;
  padding: 0;
}

form{
  /* display: flex;
  flex-direction: column;
  height: 80vh; */
}

/*Abrir Mesa----------------------------*/
/*
#abrir-mesa{
  display: flex;
}*/

.abrir-mesa{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5px;
  height: 80vh;
  width: 40vw;
  
}

.oculto {
  display: none;
}

.visible {
  display: flex; 
}

.abrir{
  background-color: lightsalmon;
}

.parrafo{
  margin: 0;
  border-top: solid #646f77 2px;
  border-left: solid #646f77 2px;
  border-right: solid #646f77 2px;
  text-align: center;
}

.campos{
  border: solid #646f77 2px;
  padding: 20px;
}

.campo-form{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  & label{
    margin-right: 50px;
  }
  & input{
    margin-left: 50px;
  }
}

.form-button{
  text-align: right;
  margin-top:20px;
  margin-right:10px;
  padding: 0;
}


/*Venta Mesa----------------------------*/

/* #venta-mesa{
  display: none;
} */

.venta-mesa{
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  margin: 5px;
  height: 80vh;
  width: 40vw;
}

.venta{
  background-color: lightgreen;
}

/*Media Querys---------------------------------*/
@media only screen and (max-width: 900px) {
  .pagina-mesas{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 850px) {
  .contenido{
    height: 60vh;
  }

  .listado-mesas{
    gap: 5px;
  }

  .grid-mesas{
    height: 300px;
    width: 250px;
  }
  
}

@media only screen and (max-width: 600px){
  .grid-mesas{
    height: 200px;
    width: 150px;
  }
}