@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*
posibles colores
 blanco #e1e4e8, gris claro #b5bdc4, gris color #aeb4ac,gris oscuro #939ca3,gris mas oscuro #646f77
*/
*{
  box-sizing: border-box;
}

body {
  font-family: "arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #e1e4e8;
  margin: 0;
  padding: 0;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
}

.form-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.formateo-boton {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.botonAzul {
  background-color: #3498db;
  color: white;
}

.botonAzul:hover {
  background-color: #2980b9;
}

nav {
  height: 10%;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav .navbar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 100%;
  list-style: none;
  text-decoration: none;
  background-color: #646f77;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #e1e4e8;
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  border-bottom: #646f77;
}

.navbar-links li a:hover {
  border-bottom: 3px solid #aeb4ac;
}

.page-transition {
  animation: aparecer 0.5s ease;
}

.page-transition.hide {
  animation: desaparecer 0.5s ease;
}

@keyframes aparecer {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes desaparecer {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.navbar-links li svg {
  font-size: 60px;
  color: #e1e4e8;
}

.Burguer {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;

  background-color: #666666;
}

.Burguer .line {
  width: 25px;
  height: 2px;
  background-color: #e1e4e8;
  margin: 5px 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.warn {
  font-weight: bold;
  color: red;
}

#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* margin: 0 auto -10%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@media only screen and (max-width: 850px) {

  header{
    height: 60px;

    & h1{
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
 

  .navbar-links.active {
    display: none;
    flex-direction: column;
    font-size: 10px;
    transition: all 0.3s ease;
  }

  nav .navbar-links {
    height: 200px;
    width: 170px;

    top: 5px;
    left: 60px;

    border-radius: 5px;
    background-color: #666666;
    font-size: 10px;
  }

  .navbar-links{
    display: none;
    flex-direction: column;
    position: relative;
  }

  .navbar-links li a {
    margin: 5px;
    padding: 5px;
  }

  nav {
    height: 0;
    position: relative;
  }

  .Burguer {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .navbar-links li svg {
    font-size: 30px;
    color: #e1e4e8;
  }

}