body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #54379e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  main {
    width: 80%;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 20px;
    border: 1px solid #d3cbcb;
    border-radius: 5px;
    padding: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  #total p {
    font-weight: 400;
  }
  

  section:nth-child(even) {
    background-color: #ffffff;
  }