header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5px;
  background-color: #379e7d;
} 
h1 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 0;
}

.contenedor-universal {
  display: flex;
  background-color: #EDECEC;
  overflow-y: auto;
  height: 80vh;
}

.contenedor-productos {
  width: 50%;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.contenedor-productos .search {
  font-size: 22px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.productos-tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #D9D9D9;
  overflow: scroll;
}

.productos-tarjetas div {
  width: 150px;
  height: 150px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search input {
  width: 30vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-left: 30px;
}

.search input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.tarjeta .imagen-tarjeta {
  display: flex;
  align-items: end;
  cursor: pointer;
  max-width: 100%;
  height: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.productos-tarjetas .tarjeta p {
  height: 15%;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.productos-tarjetas .tarjeta h3 {
  height: 15%;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.tarjeta:active {
  transform: scale(0.95);
}



.tarjeta{
  height: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin: 5px;
  background-color: #D9D9D9;
  border-radius: 10px;

  list-style-type: none;
  transition: transform 0.2s ease;
}


.seccion-factura{
  width: 50%;
  padding: 20px;

  & h2{
    margin: 10px;
  }
}

#factura {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

#factura th, #factura td {
  border: 1px solid #ddd;
  padding: 8px; /* Asegúrate de que el padding sea uniforme */
  text-align: left;
  box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho de las celdas */
}

#factura th {
  background-color: #f2f2f2;
}

#factura tfoot td {
  font-weight: bold;
 
}

#factura tbody tr:first-child {
  background-color: #f9f9f9;
}

#factura tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#factura tbody tr:hover {
  background-color: #ddd;
}

.tdHeight {
  height: 40px;
}

#factura th {
  background-color: #f2f2f2;
}

#factura tfoot td {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}


#factura tbody tr:first-child {
  background-color: #f9f9f9;
}


#factura tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}


#factura tbody tr:hover {
  background-color: #ddd;
}

.botones-al-final {
  grid-column-start: -2;
  grid-column-end: -1;
  display: flex;
  justify-content: space-evenly;
}


.botonFactura {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.botonVerde {
  background-color: #4CAF50;
  color: white;
}

.botonVerde:hover {
  background-color: #45a049;
}

.botonRojo {
  background-color: #f44336;
  color: white;
}

.botonRojo:hover {
  background-color: #d32f2f;
}

#cuadro {
  display: none;
  background-color: #f0f0f0;
  padding: 80px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 25px;
  animation: mostrarCuadro 0.2s ease-out forwards;
}





@keyframes mostrarCuadro {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8)
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}



#cerrarCuadro {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#mensaje {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 850px){
  .contenedor-universal{
    flex-direction: column;
  }

  .contenedor-productos{
    width: 100%;
  }

  .seccion-factura{
    width: 100%;
  }

  .tarjeta{
    height: 6rem;
    width: 6rem;
  }
}